<div class="center padded">
    <div class="content padded" style="font-size: 23px;">
        <h1>Experiencia laboral: </h1>
    </div>
        <div class="row">
            <div class="card third">
                <h3>Restaurant Bo.tic ⭐️⭐️ </h3>
                <p>Practicas (12/2021 – 09/2022)</p>
                <ul class="cualidades" style="">
                    <li><p>Control de la partida.</p></li>
                    <li><p>Encargado del mise en place.</p></li>
                    <li><p>Control del servicio de la partida.</p></li>
                </ul>
                <img src="{{ url_for("static", filename="chef.png") }}" width=250px />
                <a class="orange" style="display: block;" target="_blank" href="https://www.bo-tic.com/en/home/">Restaurant Link</a>
            </div>
            <div class="card third">
                <h3>La Sirga Restaurant</h3>
                <p>(06/2020 – 12/2021)</p>
                <ul class="cualidades" style="">
                    <li><p><b>Cocina: </b><br>
                        <b>Pizzería</b>: Preparar el mise en place y realizar el servicio. <br>
                        <b>Plancha: </b> Manejo de mariscos y pescados. <br>
                        <b>Zona fría: </b> Realización de platos como ensaladas y postres.<br>
                        <b>Freidora: </b> Realización de platos tipicos Españoles. <br>
                    </p></li>
                    <li><p><b>Otros: </b><br>
                        <b>Heladería: </b> Manejo del mise en place, limpieza y atención al cliente. <br>
                        <b>Ayudante de camarero: </b> Manejo de las mesas, del bar y tomar nota. <br>
                        <b>Recepción de materia prima</b>
                    </p></li>
                </ul>
                <a class="orange" target="_blank" href="https://www.instagram.com/lasirgarestaurant/">Restaurant Link</a>
            </div>
            <div class="card third">
                <h3>Bar Restaurant Los Chopos</h3>
                <p>(01/2020 – 03/2020)</p>
                <ul class="cualidades">
                    <li><p><b>Zona Fria: </b> Preparacón de platos para el buffet. <br>
                        <b>Parrilla: </b> Realización de carnes y snacks tipicos. <br>
                    </p></li>
                </ul>
                <img src="{{ url_for("static", filename="pastry.png") }}" width=250px />
                <a class="orange" style="display: block;" target="_blank" href="https://www.instagram.com/loschoposencasa/">Restaurant Link</a>
            </div>
        </div>
</div>

<div class="center padded white-bg">
    <div class="content padded" style="font-size: 23px;">
        <h1>Formación: </h1>
        <div class="row">
            <p><b>Institución Universitaria Colegio Mayor de Antioquía. </b>(2017-2021), Colombía.<br>
            Facultad de administración. <br>
            Tecnología de gestión en servicios gastronomícos. <br><br>
            <b>Escuela de Chocolate y Pastelería.</b> (2019), Colombía. <br>
            Curso intensivo de Chocolatería. <br>
            Duración de 24 horas.</p>
            <img style="margin-left: 50px;" src="{{ url_for("static", filename="IMG2.png") }}" width=320px />
        </div>
    </div>
</div>