<div class="center">   
    <div class="content">
            <div class="row vert-pad">
                <div class="left padded">
                    <h1>Cocinero capacitado, con experiencia y apasionado que siempre está buscando ser mejor en su trabajo. </h1>
                    <ul class="cualidades">
                        <li><p>Eficiencia en el trabajo en equipo con una brigada de cocina.</p></li>
                        <li><p>Habilidad para trabajar bajo presión y para mantener altos estándares de calidad y limpieza en la cocinas.</p></li>
                        <li><p>Actualmente estoy aprendiendo nuevas tecnicas de nuevas cocina, moderna y clasica.</p></li>
                        <li><p>Habilidad para trabajar con diferentes tipos de carnes, pescados, mariscos y sus acompañamientos, incluyendo la realización de técnicas avanzadas.</p></li>
                    </ul>
                </div>
                <div class="right">
                    <h1>Si necesitas una persona para tu equipo de cocina,</h1>
                    <p>Solo envíame un correo <a href="#contacto">Clickeando acá.</a></p>
                    <img src="{{ url_for("static", filename="ingred.png") }}" width=300px />

                </div>
            </div>
    </div>
</div>