<div class="center padded">
    <div class="content">
        <div class="row vert-pad" style="width: 1200px;">
            <div class="left padded" slyle="width: 550;">
                <h1 style="font-size: 30px;">¡Contactame!</h1>
                <p style="font-size: 20px;">Mi pasión es la cocina y estoy dispuesto a aprender y compartirla contigo. 
                    Si estás buscando a un cocinero confiable y creativo dispuesto a trabajar en cualquier tipo de 
                    cocina: desde tradicional a gastronomico. No dudes en ponerte en contacto conmigo.</p>
            </div>
            <div id="contacto" class="right padded" style="width: 570px;">
                <form class="contact-form" method="post" action="{{ url_for("portfolio.mail") }}">
                    <input type="text" name="name" placeholder="Nombre Completo" required /><br>
                    <input name="email" placeholder="Correo" required type="email" /><br>
                    <textarea name="message" placeholder="Deja acá tu mensaje" required minlength=10></textarea><br>
                    <button class="btn" style="width: calc(100% + 20px);">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>